<div class="card">
  <span class="card-bg" style="background-image: url('https://unsplash.it/200/200?')">
    <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
  </span>
  <span class="card-shadow"></span>
  <span class="card-description">Popular</span>
  <span class="card-text">
    <h2><%= cocktail.name %></h2>
    <p><%= "Smooth & strong" %>
  </span>
<!--   <span class="card-user">
    <img src='user.jpg' class="avatar avatar-bordered"/>
  </span> -->
</div>
